<ion-view class="feed-view" view-title="Upload" cache-view="false">
  <ion-content has-bouncing="false">
    <br>
    <div class="product-view">
      <div class="product-card-content">
        <div class="item item-body">
          <p ng-show="error" class="message error" style="text-align:center">{{error}}</p>
          <label ng-if="geolocation.id && !( picture.get('file')._url && picture.id == geolocation.get('picture').id ) " class="item item-input">
            {{geolocation.get("title")}}
          </label>
          <label ng-if="!geolocation.id || ( picture.get('file')._url && picture.id == geolocation.get('picture').id )" class="item item-input">
            <input type='text' ng-model='geolocation.title' maxlength='100' ng-blur='' placeholder='Give a name to your geolocation. *'>
          </label>
          <label class="item item-input">
            <textarea rows="19" ng-model='picture.description' placeholder="Tell us a story about this geolocation."></textarea>
          </label>
          <p ng-click="Cancel()" class="product-like"><i class="icon ion-android-cancel"></i></p>
          <p ng-if="picture.get('file')._url" ng-click="SavePicture(geolocation, picture)" class="product-like"><i class="icon ion-upload"></i></p>
          <p ng-if="!picture.get('file')._url && (geolocation.title || geolocation.id)" ng-click="Upload()" class="product-like"><i class="icon ion-upload"></i></p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
