<ion-view view-title="" class="bar-dark">
  <ion-tabs class="tabs-icon-only tabs-dark">

    <ion-tab title="Map" class="tab-custom" icon-off="ion-android-globe" icon-on="ion-android-globe" href="#/app/map">
      <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Geo Feed" class="tab-custom" icon-off="ion-eye101" icon-on="ion-eye101" href="#/app/geofeed">
      <ion-nav-view name="tab-geofeed"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Geolocalise" class="tab-custom" icon-off="ion-photosi" icon-on="ion-photosi" href="#/app/upload">
      <ion-nav-view name="tab-upload"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Following" class="tab-custom" icon-off="ion-ios-star" icon-on="ion-ios-star" href="#/app/following">
      <ion-nav-view name="tab-following"></ion-nav-view>
    </ion-tab>

    <ion-tab title="My Pictures" class="tab-custom" icon-off="ion-profile" icon-on="ion-profile" href="#/app/userpictures">
      <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
